/* collectText.css - a css template for collectText.html                                                             */
/* started - 19-May-2022                                                                                             */
/* References:                                                                                                       */
/*         HTML & CSS for Beginners Part 22: How to create a basic layout - the CSS                                  */
/* Log                                                                                                               */
/*     19-May-2022 - started                                                                                         */

#heading-div {
    width: 80%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 800px;
    text-align: center;
}

#input-div{
    width: 80%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 800px;
    text-align: left;
}

#fgetresults-div {
    width: 80%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 800px;
    text-align: left;
}

#results-div {
    width: 80%;
    margin: auto; 
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 800px;
}

#resultsarea {
    width: 100%;
    margin: auto;
    background-color: lightgrey;
}

#showcontents-div {
}

