/* d_ajaxFetch.css -- css template for d_ajaxFetch.html
/* started - 20-May-2022                                                                                             */
/* References:                                                                                                       */
/*         HTML & CSS for Beginners Part 22: How to create a basic layout - the CSS                                  */
/* Log                                                                                                               */
/*     20-May-2022 - started                                                                                         */

#heading-div {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 800px;
    text-align: center;
}

#firsttest-div {
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#text1-area {
    width: 100%;
}

#text2-area {
    width: 100%;
}

#secondtest-div {
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#messages-div {
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

