/* email.css - a css for email.html                                                                                  */
/* started - 20-May-2022                                                                                             */
/* References:                                                                                                       */
/*         HTML & CSS for Beginners Part 22: How to create a basic layout - the CSS                                  */
/* Log                                                                                                               */
/*     20-May-2022 - started                                                                                         */

#heading-div {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 800px;
    text-align: center;
}

#form-div {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

#name-div {
    width: 80%;
    margin: auto; 
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 800px;
}

#mailto-div {
    width: 80%;
    margin: auto; 
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 800px;
}

#subject-div {
    width: 80%;
    margin: auto; 
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 800px;
}

#message-div {
    width: 80%;
    margin: auto; 
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 800px;
}

#emailBody {
    width: 100%;
}

#submit-div {
    width: 80%;
    margin: auto; 
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 800px;
}

