/* multiply.css - a css template for multiply.html                                                                   */
/* started - 18-May-2022                                                                                             */
/* References:                                                                                                       */
/*         HTML & CSS for Beginners Part 22: How to create a basic layout - the CSS                                  */
/* Log                                                                                                               */
/*     18-May-2022 - started                                                                                         */
/*     23-May-2022 - increase div margins from 5 to 10px                                                             */

#heading-div {
    width: 80%;
    margin: auto;
    margin-top:10px;
    margin-bottom:10px;
    max-width: 800px;
    text-align: center;
}

#dataEntry-div {
    width: 80%;
    margin: auto;
    margin-top:10px;
    margin-bottom:10px;
    max-width: 800px;
    text-align: left
}

#multiply-buttons-div {
    width: 80%;
    margin: auto;
    margin-top:10px;
    margin-bottom:10px;
    max-width: 800px;
    text-align: left
}

#number1-div{
    margin-top:10px;
    margin-bottom:10px;
}

#number2-div{
    margin-top:10px;
    margin-bottom:10px;
}

#multiplyJS-div{
    margin-top:10px;
    margin-bottom:10px;
}

#multiplyCGI-div{
    margin-top:10px;
    margin-bottom:10px;
}

#fGetResults-div {
    margin: auto;
    margin-top:10px;
    margin-bottom:10px;
    max-width: 800px;
    text-align: left;
}

#results-div {
    width: 80%;
    margin: auto; 
    margin-top:10px;
    margin-bottom:10px;
    max-width: 800px;
}

#ResultArea {
    width: 100%;
    background-color: lightgrey;
    max-width: 200px;
    border-style: solid;
    border-width: thin;
}
